{% extends "wvpoi/page.html" %}

{% block css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<style>
    #map { height: 600px; border: 1px solid black;}
</style>
{% endblock %}
{% block js %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endblock %}
{% block content %}
<div id="map"></div>
<script>
    var map = L.map('map').setView([55.6799, 37.7737], 10);
    var layer = null;

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'batalex.offhmf7m',
        accessToken: 'pk.eyJ1IjoiYmF0YWxleCIsImEiOiJjaWlkZGp4ZG8wMDB3dnNrdXMxMW42bDNwIn0.cW5ejS14v3NIB-1A3tDjfA'
    }).addTo(map);

    function update() {
        oldLayer = layer;
        bounds = map.getBounds();
        $.ajax({
          url: "/api/get-listings/?language=en&positional_data=true&limit=200&format=geojson&min_latitude=" + bounds.getSouth() + "&max_latitude=" + bounds.getNorth() + "&min_longitude=" + bounds.getWest() + "&max_longitude" + bounds.getNorth(),
        }).done(function(response) {
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.name) {
                    popupContents = '<b>' + feature.properties.name + '</b>';
                    if (feature.properties.description) {
                        popupContents += '<br/>' + feature.properties.description;
                    }
                    layer.bindPopup(popupContents);
                }
            }

            layer = L.geoJson($.parseJSON(response), {onEachFeature: onEachFeature});
            layer.addTo(map);
            if (oldLayer) {
                map.removeLayer(oldLayer);
            }
        });
    }

    map.on('moveend', function() { 
        update();
    });

    update();
</script>
{% endblock %}
