{% extends "wvpoi/page.html" %}

{% block css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<style>
    #map { height: 600px; border: 1px solid black;}
</style>
{% endblock %}
{% block js %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endblock %}
{% block content %}
<div id="map"></div>
<script>
    var map = L.map('map').setView([55.6799, 37.7737], 10);
    var layer = null;

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'batalex.offhmf7m',
        accessToken: 'pk.eyJ1IjoiYmF0YWxleCIsImEiOiJjaWlkZGp4ZG8wMDB3dnNrdXMxMW42bDNwIn0.cW5ejS14v3NIB-1A3tDjfA'
    }).addTo(map);

    var languages = L.control();

    languages.onAdd = function (map) {
        this._div = L.DomUtil.create('div');
        this.update();
        return this._div;
    };

    languages.update = function (props) {
        this._div.innerHTML = '<input type="radio" name="language" checked="checked" value="en"><label>English</label>' + 
            '<input type="radio" name="language" value="fr"><label>French</label>' +
            '<input type="radio" name="language" value="ru"><label>Russian</label>'; 
    };

    languages.addTo(map);

    function update() {
        language = $('input[name=language]:checked').val();

        oldLayer = layer;
        bounds = map.getBounds();
        $.ajax({
          url: "/api/get-listings/?language=" + language + "&positional_data=true&limit=200&format=geojson&min_latitude=" + bounds.getSouth() + "&max_latitude=" + bounds.getNorth() + "&min_longitude=" + bounds.getWest() + "&max_longitude=" + bounds.getEast(),
        }).done(function(response) {
            function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.name) {
                    popupContents = '<b>' + feature.properties.name + '</b>';
                    if (feature.properties.description) {
                        popupContents += '<br/>' + feature.properties.description;
                    }
                    layer.bindPopup(popupContents);
                }
            }

            function pointToLayer(feature, latlng) {
                var markerOptions = {
                    radius: 8,
                    fillColor: "#ff7800",
                    color: "#000",
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.9
                };

                if (feature.properties && feature.properties.type) {
                    switch (feature.properties.type) {
                        case 'go':
                            markerOptions.fillColor = 'brown';
                            break;
                        case 'see':
                            markerOptions.fillColor = '#4682B4';
                            break;
                        case 'do':
                            markerOptions.fillColor = 'grey';
                            break;
                        case 'buy':
                            markerOptions.fillColor = 'mediumaquamarine';
                            break;
                        case 'eat':
                            markerOptions.fillColor = 'chocolate';
                            break;
                        case 'drink':
                            markerOptions.fillColor = 'black';
                            break;
                        case 'sleep':
                            markerOptions.fillColor = 'MidnightBlue';
                            break;
                        case 'other':
                            markerOptions.fillColor = 'forestgreen';
                            break;
                        case 'vicinity':
                            markerOptions.fillColor = 'sienna'
                            break;
                    }
                }

                return L.circleMarker(latlng, markerOptions);
            }

            layer = L.geoJson($.parseJSON(response), {onEachFeature: onEachFeature, pointToLayer: pointToLayer});
            layer.addTo(map);
            if (oldLayer) {
                map.removeLayer(oldLayer);
            }
        });
    }

    map.on('moveend', function() { 
        update();
    });

    $("input[name=language]").change(function(){ 
        update();
    });


    update();
</script>
{% endblock %}
